:root {
  --fs-500: clamp(2rem, 3vw + 0.5rem, 3rem);
  --fs-700: clamp(2.8rem, 3vh + 1rem, 3.5rem);
  --fs-400: clamp(1.3rem, 1vw + 1rem, 1.5rem);
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
}

p {
  margin: 0px 0px;
}

.attribution {
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size: var(--fs-400);
}

.main-container {
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 25%;
  right: 25%;
  background-color: white;
  display: flex;
  overflow: hidden;
}

.main-info {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  align-items: center;
  gap: 2.5vw;
}

.img-container {
  width: 50%;
  height: 100%;
}

.img-product {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  width: 80%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.item-price {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.buy-button {
  width: 80%;
  position: relative;
}

.cart-icon {
  position: absolute;
  top: 25%;
  left: calc(25% - 1.4vw);
  width: 1.4vw;
}

button {
  width: 100%;
  height: 3.5vw;
  border: none;
  color: white;
  background-color: hsl(158, 36%, 37%);
  font-size: var(--fs-400);
  border-radius: 5px;
  transition: background-color 0.15s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

button:hover {
  background-color: hsl(158, 35%, 27%);
}

/* Texts styles */
.type-text {
  font-size: var(--fs-400);
  color: hsl(228, 12%, 48%);
  letter-spacing: 5px;
  font-family: "Montserrat", sans-serif;
}

.name-text {
  font-size: var(--fs-700);
  font-family: "Lora", serif;
  font-weight: bold;
  line-height: 35px;
}

.desc-text {
  font-size: var(--fs-400);
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
}

.price-text {
  font-size: var(--fs-700);
  color: hsl(158, 36%, 37%);
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.descount-text {
  font-size: var(--fs-400);
  color: hsl(228, 12%, 48%);
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-decoration: line-through;
}

/* Media query */

@media (max-width: 720px) {
  .main-container {
    flex-direction: column;
    right: 5%;
    left: 5%;
    top: 5%;
    bottom: 5%;
  }
  .img-container {
    width: 100%;
    height: 40%;
  }
  .main-info {
    width: 100%;
    max-width: 80%;
    gap: 10px;
  }
  .info {
    width: 80%;
    gap: 10px;
  }
  .buy-button {
    width: 80%;
  }
  button {
    height: 10vw;
  }
  .cart-icon {
    left: 22%;
    top: 28%;
    width: 4.5vw;
  }
  .img-product {
    object-position: 30% 35%;
  }
  .item-desc {
    margin-bottom: 10px;
  }
}
